@model ProjectTravelTrip.Models.Siniflar.Iletisim
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
     <link href="~/Content/bootstrap.css" rel="stylesheet" />
<br />
<br />
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.AdSoyad)
    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Konu)
    @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mesaj)
    @Html.TextAreaFor(x => x.Mesaj, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Gönder</button>
</form>


<div class="contact-bottom">
    <div class="contact-left">

    </div>
    <div class="contact-map">
        <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left"></a></small>
    </div>
    <div class="clear"></div>
</div>

